@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

.empty {
  display: flex;
  justify-content: center;
  margin: 60px;
  font-size: 2rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);

  font-family: 'Quicksand', sans-serif;
}
