@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');


.searchContainer{
    display: flex;
    justify-content: center;
}

.searchBox{
    position: relative;
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
}

.searchInput{
    height: 25px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    font-family: 'Quicksand', sans-serif;

}

.searchInput:focus,
.searchButton:focus{
    outline: none;
}