
.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.col {
    max-width: 400px;
    margin: 15px;
    height: auto;
}

.movieImage{
    height: 480px;
    border-radius: 15px;
}

.movieDetails {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    height: 80px;
}

.firstItem{
    margin-top: 0;
}